<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora posts</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
<body>
    <h1>Quora posts</h1>
   <% for (post of posts){ %>
        <div class = "container">
            <h3 class = "username">@ <%= post.username %></h3>
            <h4 class = "content"> <%= post.Content %></h4>
            <a href = "http://localhost:3000/posts/<%= post.id %>">See in detail of this post</a>
        </div>
   <% } %>
    </br>
    </br>
    <a href = "http://localhost:3000/posts/new">Create new post</a>

</body>
</html>