<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Home page of EJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, officiis similique dolore adipisci ea laborum cumque, doloribus molestias delectus
        explicabo necessitatibus! Eaque consectetur numquam similique! Itaque odio amet rerum iste.</p>
</body>
</html>