<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your chat</title>
</head>
<body>
    <h1>Write your Chat..</h1>
    <form method = "POST" action = "/chats">
        <input placeholder = "Enter your name" name = "from">
        <br><br>
        <textarea name = "msg">Write your message here</textarea>
        <br><br>
        <input placeholder = "enter reciver name" name="to">
        <br><br>
        <button>Create chat</button>
    </form>
</body>
</html>