<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users data</title>
  </head>
  <style>
    th,td{
        border:1px solid black;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>User Name</th>
      </tr>
      <% for (user of users){ %>
      <tr>
        <td><%= user.userId %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
            <form method = "GET" action = "/users/<%= user.userId %>/edit">
                <button>Edit Username</button>
            </form>
        </td>
      </tr>
      <%} %>
    </table>
  </body>
</html>
